theme "nord"
default_layout "compact"
scroll_buffer_size 100000
copy_on_select false

keybinds clear-defaults=true {
    normal {
        bind "Ctrl a" { SwitchToMode "tmux"; }
    }

    renametab {
        bind "Ctrl c" { SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "tmux"; }
    }

    scroll {
        bind "/" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "d" { HalfPageScrollDown; }
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "q" { SwitchToMode "normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "u" { HalfPageScrollUp; }
    }

    tmux {
        bind "%" { NewPane "Right"; SwitchToMode "normal"; }
        bind "-" { NewPane "Down"; SwitchToMode "normal"; }
        bind "," { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "/" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl b" { SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Space" { NextSwapLayout; }
        bind "[" { SwitchToMode "scroll"; }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "h" { MoveFocus "Left"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "l" { MoveFocus "Right"; }
        bind "n" { GoToNextTab; }
        bind "o" { FocusNextPane; }
        bind "p" { GoToPreviousTab; }
        bind "q" { Detach; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
    }

    shared_except "normal" {
        bind "Esc" { SwitchToMode "normal"; }
    }
}

plugins {
    // tab-bar { path "tab-bar"; }
    // status-bar { path "status-bar"; }
    // strider { path "strider"; }
    // compact-bar { path "compact-bar"; }
}
