theme "nord"
//default_layout "compact"
scroll_buffer_size 100000
copy_on_select false
scrollback_editor "nvim"
mouse_mode true
copy_on_select false

keybinds clear-defaults=true {
    normal {
        bind "Ctrl a" { SwitchToMode "tmux"; }
    }

    resize {
      bind "h" "Left" { Resize "Increase Left"; }
      bind "j" "Down" { Resize "Increase Down"; }
      bind "k" "Up" { Resize "Increase Up"; }
      bind "l" "Right" { Resize "Increase Right"; }
      bind "H" { Resize "Decrease Left"; }
      bind "J" { Resize "Decrease Down"; }
      bind "K" { Resize "Decrease Up"; }
      bind "L" { Resize "Decrease Right"; }
      bind "=" "+" { Resize "Increase"; }
      bind "-" { Resize "Decrease"; }
      bind "Alt n" { SwitchToMode "Normal"; }
      bind "Enter" { SwitchToMode "normal"; }
    }

    renametab {
        bind "Ctrl c" { SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "tmux"; }
    }

    scroll {
        bind "/" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "d" { HalfPageScrollDown; }
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "q" { SwitchToMode "normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "u" { HalfPageScrollUp; }
    }

    tmux {
        bind "%" { NewPane "Right"; SwitchToMode "normal"; }
        bind "-" { NewPane "Down"; SwitchToMode "normal"; }
        bind "," { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "/" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl b" { SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Space" { NextSwapLayout; }
        bind "[" { SwitchToMode "scroll"; }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "normal";}
        bind "n" { GoToNextTab; }
        bind "o" { FocusNextPane; }
        bind "p" { GoToPreviousTab; }
        bind "d" { Detach; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }

        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }

        bind "a" { Write 1; SwitchToMode "normal"; }
    }

    shared_except "normal" {
        bind "Esc" { SwitchToMode "normal"; }
    }

    shared_except "resize" "locked" {
        bind "Alt n" { SwitchToMode "Resize"; }
    }
}

plugins {
    // tab-bar { path "tab-bar"; }
    // status-bar { path "status-bar"; }
    // strider { path "strider"; }
    // compact-bar { path "compact-bar"; }
}
